body {
background-color:purple;

    color: azure;
    font-size: 1.1em;
}
h1 {
    color: coral;
}
#intro {
    font-size: 1.3em;
}
.colorful {
    color:whitesmoke;
}
.menu{
width:400px;
float:left;
height:70px;
}

ul{float:left;
display:flex;
justify-content: center;
align-items:center ;
}
ul li{
list-style: none;
margin-left:55px ;
margin-top: 27px;
font-size: 10 px;
}
ul li a{
text-decoration: none;
color: skyblue;
font-family:arial;
font-weight: bold;
transition:0.4s eas-in-out;

}
ul li a:hover{
color:darkorange;

}
.search{
width:330px;
float:left;
margin-left:1100px;

}
.srch{
font-family: 'times new roman';
width:200px;
height: 40px;
background:white;
border: 1px solid darkorange;
margin-top: 100px;
color:black;
border-right: none;
font-size:16px ;
float:left;
padding:10px;
border-bottom-left-radius:5px;
border-top-left-radius:5px;
}
.btn{
width:100px;
height:40px;
background:cyan;
border:2px solid gold;
margin-top:13px;
color:white;
font-size: 15px;
border-bottom-right-radius:5px;
border-bottom-right-radius: 5px;
}
.btn:focus{
outline:none;
}
.srch:focus{
outline:none;
}
.content{
width:1200px;
height:auto;
margin:auto;
color:lightyellow;
position:relative;
}
.content.par{
padding-left:500px;
padding-bottom:25px;
font-family: arial;
letter-spacing:1.2px;
line-height:30px;}
.content h1{
font-family:'times new roman';
font-size: 50px;
padding-left:500px;
margin-top:9%;
letter-spacing:2px;
}
.content.cn{
width:200px;
height:60px;
background:#ff7200;
border:none;
margin-bottom:10px;
margin-left:20px;
font-size:18px;
border-radius:10px;
cursor:pointer;
}
.content.cn a{
text-decoration: none;
color:#000;
transition:.3s ease;

}
.cn:hover{
background-color:red ;

}
.content span{
color:#ff7200;
font-size:65px;


}
.form{
width: 250px
height:500px;
background:linear-gradient(to top,rgba(0, 0, 0, 0.8)50%,rgba(0, 0, 0, 0.8)50%);
position: absolute;
top:250px;
left:870px;
border-radius:20px;
padding: 25px;
}
.form h2{
width:220px;
font-family:sans-serif;
text-align: center;
color:orange;
font-size: 22px;
background-color: white;
border-radius: 10px;
margin:25px;
padding: 8px;


}
.form input{
width:240px;
height:35px;
border-bottom: 1px solid orange;
border-top: none;
border-right: none;
border-left: none;
color:white;
font-size:15px;
letter-spacing: 1px;
margin-top: 30px;
margin-family:sans-serif;

}
.form input:focus{
outline:none;
}
::placeholder{
color:black;
 font-family: arial;

}
.btnn{
    width:240px;
    height: 40px;
    background:yellow;
    border:none;
    margin-top:30px;
    font-size: 18px;
    border-radius: 10px;
    cursor:pointer;
    color:green;
}
.btnn:hover{
background-color: white;
color:orange;

}

.btnn a{

text-decoration: none;
}
.form.link{
font-family: arial;
font-size: 17px;
padding-top: 20px;
text-align: center;

}
.form.link a{
text-decoration: none;
color: orange;

}
.liw{
padding-top: 15px;
padding-bottom: 10px;
text-align: center;


}
.icons a{
text text-decoration: none;
color:white;

}
.icons ion-icon{
color:white;
font-size: 30px;
padding-left:14px ;
padding-top: 5px;
transition: 0.3s ease;
}

.icons ion-ion:hover{
color: orange;

}
.navbar{
width:1200px;
height: 75px;
margin:auto;

}
.icon{
width :200px;
float:left;
height: 70px;

}
/*
.logo{
  
border-image-width:100px;
border-image-height: 50px;
font size:35px;
font font-family: arial;
padding-left: 20px;
float:left;
padding-top: 10px;


}*/
.best{
background-image: url("yess.jpg");
}